body {
  background-color: #9c591b;
  color: #121212;
  text-align: center;
}

button {
  padding: 5px 7px;
  margin: 10px 3px;
  max-width: fit-content;
  border: #121212 solid 0.7px;
  color: #121212;
  background-color: #ce7624;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #db7e27;
  border: #121212 solid 1.3px;
}

img {
  max-width: 21rem;
  max-height: 20rem;
}

main {
  margin: auto;
}

#container {
  box-shadow: #121212 5px 5px 5px, #121212 -3px -3px 5px;
  background-color: #ce7624;
  border-radius: 7px;
  max-width: 26rem;
  margin: 10px auto auto;
  padding: 0.5rem;
  visibility: hidden;
}
